@use 'lib' as *;

.profileSection {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding: 20px 0;
}

.profileSection .rightColumn,
.profileSection .leftColumn {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.profileSection .rightColumn div,
.profileSection .leftColumn div {
    width: 100%;
}

.profileSection .rightColumn {
    width: 60%;
}

.profileSection .rightColumn div {
    max-width: 800px;
}


.profileSection .profileData {
    margin-top: 5px;
}

.profileSection .profileData input[type="button"] {
    margin: 0 10px 0 0;
}

.profileSection #profilePicture {
    width: 140px;
    height: 140px;
    margin: auto 30px;
    border-radius: 140px;

    @include customize() {
        border: 4px solid getValue(main-color);
    }
}

.profileSection #buttonMenu {
    position: absolute;
    top: 0;
    right: 0;
}

.profileSection #buttonMenu * {
    margin-left: 5px;
}

.userDescInputBox {
    font-size: large;
    font-weight: 600;
}

.userLocInputBox {
    font-size: large;
    font-weight: 600;
}

.userDisplayNameInputBox {
    font-size: x-large;
    font-weight: 600;
}