input[type="text"],
input[type="password"] {
    font-size: 12px;
    border: 0px;
    border-radius: 39px;
    padding: 8px;
    background-color: #C4C4C476;
    color: #3D5A80;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 0px;
}
