@use 'lib' as *;

.eventTile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 20px;
    background-color: #EFEFEF;
    border-radius: 18px;
    height: 100%;
    overflow: hidden;
    min-width: 270px;
    max-width: 300px;
}

.eventTileImageCon {
    min-height: 140px;
    max-height: 160px;
    width: 100%;
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 2px 6px 14px -8px #000;
}

.eventTileImageSkeleton {
    display: flex;
    height: auto;
    gap: 0px !important;
}

.title {
    font-size: 26px;
    font-weight: 600;
}

.organiser {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    max-height: 40px;

}

.organiser .img {
    max-height: 40px;
    max-width: 40px;
    width: 29px;
    height: 25px;
    border-radius: 15px;

    @include customize() {
        border: 1px solid getValue(main-color);
    }
}

.organiser .imgSkeleton {
    width: 30px;
    height: 30px;
    align-self: center;
    gap: 0;
}

.organiser .text {
    width: 100%;
    font-weight: 500;
    font-size: 18px;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.details .detailsDate {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.detailsDate p {
    margin: 0;
    padding: 0;
}


.detailsLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 32px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 2px solid #808080;
}

.detailsLink:hover {
    @include customize() {
        background-color: #EFEFEF;
        border: 2px solid #808080;
        box-shadow: 0px 0px 6px 0px #808080;
    }
}

.details strong {
    font-weight: 600;
}

.detailsLinkAElement {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.linkButtonSkeleton {
    display: flex;
}