@use '_lib' as *;

.forgotPasswordSection {
    margin: auto;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.forgotPasswordSection>* {
    margin: auto;
}

.forgotPasswordSection h1,
.forgotPasswordSection p {
    padding: 0;
}

.forgotPasswordSection h1 {
    margin-bottom: 16px;
    font-size: 44px;
}

.forgotPasswordSection p {
    margin-bottom: 6px;
}

.forgotPasswordForm {
    margin: 16px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgotPasswordForm input {
    margin: 12px 0;
    font-size: 18px;
    height: 36px;
}

.forgotPasswordForm input[type="text"],
.forgotPasswordForm input[type="password"] {
    min-width: 250px;
}

.forgotPasswordButtonBox input[type="button"],
.forgotPasswordButtonBox input[type="submit"] {
    min-width: 30%;
}

.buttonLink {
    display: contents;
}

.forgotPasswordButtonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
}

.forgotPasswordThrobber {
    height: 20px !important;
    margin-right: 0px;
}

.forgotPassArrowInLink {
    @include customize() {
        fill: getValue(second-main-color);
    }
}