@use 'lib'as *;

.horizontalGalery {
    position: relative;
    height: 200px;
}

.horizontalGalery .galeryContainer {
    height: 100%;
    width: 100%;
    overflow-x: overlay;
}

.horizontalGalery .galeryRows {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    // justify-content: flex-start;
}

.horizontalGalery .galeryRows .box {
    height: 100%;
    width: min-content;
}

.horizontalGalery .galeryFade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #ffffff 0%, #ffffff00 6%, #ffffff00 94%, #ffffff 100%);
    pointer-events: none;
}

/* Chrome, Edge, and Safari */
.horizontalGalery *::-webkit-scrollbar {
    height: 8px;
}

.horizontalGalery *::-webkit-scrollbar-track {
}

.horizontalGalery *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: 2px solid #ffffff00;
}