.LoginSection {
    margin: auto;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LoginSection h1, p {
    margin: auto;
    padding: auto;
}

.LoginSection h1 {
    margin-bottom: 16px;
    font-size: 44px;
}

.LoginSection p {
    margin-bottom: 6px;
}

.LoginForm {
    margin: 16px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LoginForm input {
    margin: 12px auto;
    font-size: 18px;
    height: 36px;
}

.LoginForm input[type="text"],
.LoginForm input[type="password"] {
    width: 320px;
}

.LoginForm input[type="button"],
.LoginForm input[type="submit"] {
    min-width: 50%;
}
