.LoginSection {
    margin: auto;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.LoginSection>* {
    margin: auto;
}

.LoginSection h1,
.LoginSection p {
    padding: 0;
}

.LoginSection h1 {
    margin-bottom: 16px;
    font-size: 44px;
}

.LoginSection p {
    margin-bottom: 6px;
}

.LoginForm {
    margin: 16px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginForm input {
    margin: 12px 0;
    font-size: 18px;
    height: 36px;
}

.LoginForm input[type="text"],
.LoginForm input[type="password"] {
    min-width: 250px;
}

.LoginForm input[type="button"],
.LoginForm input[type="submit"] {
    min-width: 30%;
}

.buttonLink {
    display: contents;
}