@use 'lib' as *;

.Logotype {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Logotype:hover {
    .logoTypeText {
        @include customize() {
            color: getValue(main-lighter-color);
        }
    }

    .iconStyle {
        @include customize() {
            fill: getValue(main-lighter-color);
        }
    }
}

.logoTypeText {
    font-weight: 300;
    font-size: 20px;
}

.iconStyle {
    width: 20px;
    height: 20px;
    padding: 0.3em;

    @include customize() {
        fill: getValue(main-color);
    }
}