.RegisterSection {
    margin: auto;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RegisterSection>* {
    margin: auto;
}

.RegisterSection h1 {
    margin-bottom: 16px;
    font-size: 44px;
    padding: 0;
}

.RegisterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0px 0px 0px;
}

.RegisterForm input {
    margin: 12px auto;
    font-size: 18px;
    height: 36px;
}

.RegisterForm input[type="button"],
.RegisterForm input[type="submit"] {
    min-width: 30%;
}

.RegisterForm .inputBox {
    min-width: 200px;
    max-width: 300px;
    width: 250px;
}

.text1 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.text2 {
    margin: 0;
}

.errorBox {
    display: inline-block;
    border: 1px solid red;
    border-radius: 8px;
    padding: 5px;
    margin: auto;
}

.RegisterFrom>.inputBox {
    width: 100%;
}