.RegisterSection {
    margin: auto;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RegisterSection h1,
.RegisterSection p {
    padding: auto;
}

.RegisterSection h1 {
    margin-bottom: 16px;
    font-size: 44px;
}

.RegisterSection p {
    margin-bottom: 6px;
}

.RegisterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RegisterForm input {
    margin: 12px auto;
    font-size: 18px;
    height: 36px;
}

.RegisterForm input[type="text"],
.RegisterForm input[type="password"] {
    width: 320px;
}

.RegisterForm input[type="button"],
.RegisterForm input[type="submit"] {
    min-width: 30%;
}

.text1 {
    font-size: 18px;
    font-weight: 300;
}

.text2 {
    margin: 0;
}

.errorBox {
    display: inline-block;
    border: 1px solid red;
    border-radius: 8px;
    padding: 5px;
    margin: auto;
}