@use '_lib' as *;

.resetPasswordSection {
    margin: auto;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resetPasswordSection>* {
    margin: auto;
}

.resetPasswordSection h1 {
    margin-bottom: 16px;
    font-size: 44px;
    padding: 0;
    text-align: center;
}

.resetPasswordForm {
    margin: 16px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resetPasswordForm input {
    margin: 12px auto;
    font-size: 18px;
    height: 36px;
}

.resetPasswordForm .inputBox {
    min-width: 200px;
    max-width: 300px;
    width: 250px;
}


.resetPasswordButtonBox input[type="button"],
.resetPasswordButtonBox input[type="submit"] {
    min-width: 30%;
}

.resetPasswordThrobber {
    height: 20px !important;
    margin-right: 0px;
}

.resetPassArrowInLink {
    @include customize() {
        fill: getValue(second-main-color);
    }
}