@use '_lib' as *;

.resetPasswordSection {
    margin: auto;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.resetPasswordSection>* {
    margin: auto;
}

.resetPasswordSection h1,
.resetPasswordSection p {
    padding: 0;
}

.resetPasswordSection h1 {
    margin-bottom: 16px;
    font-size: 44px;
}

.resetPasswordSection p {
    margin-bottom: 6px;
}

.resetPasswordForm {
    margin: 16px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resetPasswordForm input {
    margin: 12px 0;
    font-size: 18px;
    height: 36px;
}

.resetPasswordForm input[type="text"],
.resetPasswordForm input[type="password"] {
    min-width: 250px;
}

.resetPasswordButtonBox input[type="button"],
.resetPasswordButtonBox input[type="submit"] {
    min-width: 30%;
}

.buttonLink {
    display: contents;
}

.resetPasswordButtonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
}

.resetPasswordThrobber {
    height: 20px !important;
    margin-right: 0px;
}

.resetPassArrowInLink {
    @include customize() {
        fill: getValue(second-main-color);
    }
}