@use "_lib" as *;

.tagBox {
    position: relative;
    color: white;
    width: fit-content;
    white-space: nowrap;
    margin: auto;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 200;
    min-width: 70px;
    max-width: 250px;

    @include customize() {
        background-color: getValue(main-color);
    }
}

.tagBox p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.tagClose {
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 2;

    @include customize() {
        fill: getValue(second-main-color);
    }

    background-color: white;
    border-radius: 50%;
}