@use '_lib'as *;

.tagListBox {
    display: inline-flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    white-space: pre-line;
}

.tagListViewer {
    display: inline-flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 10px 0px;
    align-items: center;
}


.tagListUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.tagInput {
    font-size: 20px;
    min-width: 60px;
    width: max-content;
}

.addTagButton {
    height: 30px;
    width: 30px;

    @include customize() {
        fill: getValue(main-color);
    }
}