@use 'lib' as *;

.ticket {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: calc(100% - 60px);
    border-radius: 5px;
    padding: 20px;
    column-gap: 10px;

    @include customize() {
        border: 1px solid getValue(light-greyish-color);
    }
}

.ticket .mainCon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
}

.ticket .secondaryCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}

.ticket .title {
    font-size: 42px;
    font-weight: 800;
}

.ticket .date {
    font-size: 24px;
    font-weight: 300;
}