.HeadBar {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);
}

.logoTypeItem {
    align-self: center;
    padding-left: 50px;
}

.navbarList {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 0;
    padding-right: 50px;
}

.navbarList li {
    display: inline;
    padding: 1em;
}

#circle-1 {
    z-index: -1;
    background: rgba(238, 108, 77, 0.21);
    box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}