@use 'lib'as *;

.HeadBar {
    display: flex;
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.logoTypeItem {
    align-self: center;
    padding-left: 50px;
}

.navbarList {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 0;
    padding-right: 50px;
}

.navbarList li {
    display: inline;
    padding: 1em;
}

#circle-1 {
    z-index: -1;
    background: rgba(238, 108, 77, 0.21);
    box-shadow: 0px 7px 24px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.HeadBar.higher {
    height: 120px;
}

.logoTypeItemCentered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    pointer-events: none;
}

.logoTypeItemCentered>* {
    margin: 0px auto;
}

.logoTypeItemCentered .pageTitle {
    font-size: 38px;
    font-weight: 800;

    @include customize() {
        color: getValue(second-main-color);
    }
}