.HeadBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    /* todo */
    border-bottom: 3px groove rgba(0, 0, 0, 0.25);
}

.HeadBar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 5px 8%;
}

.VerticalMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    list-style: none;
}

.VerticalMenu ul {
    display: flex;
    align-content: center;
    margin: auto;
    padding: 0;
    margin-left: 18px;
    font-size: 22px;
}

.VerticalMenu a img {
    width: 30px;
    height: 30px;
    margin-right: 4px;
    vertical-align: middle;
}

.Logotype {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
}

.Logotype * {
    margin: auto;
}

.Logotype a {
    font-size: 26px;
}

.Logo {
    width: 72px;
    height: 72px;
}

.VerticalMenu .highlighted {
    border: 2px solid #EE6C4D;
    padding: 2px 6px;
    border-radius: 36px;
}
