.linkBox {
    display: flex;
    width: fit-content;
}

.linkElement {
    width: fit-content;
    display: inline;
    padding: 5px;
}

.linkActive div {
    font-weight: 400;
}

.linkIsntActive div {
    font-weight: 300;
    opacity: 0.5;
}
