@use 'lib' as *;

.inputBox input[type="text"],
.inputBox input[type="password"] {
  font-size: 14px;
  border: 0px;
  border-radius: 39px;
  padding: 5px 20px;
  width: 100%;
  background-color: #C4C4C433;
  margin: 0;
  box-sizing: border-box;

  @include customize() {
    color: getValue(main-color);
  }

  font-weight: 300;
}

.inputBox input[type="text"]::placeholder,
.inputBox input[type="password"]::placeholder {
  @include customize() {
    color: getValue(main-color);
  }
}

.inputBox input[type="text"]:focus-visible,
.inputBox input[type="password"]:focus-visible {
  @include customize() {
    outline: 1px groove getValue(main-color);
  }
}

.inputBox {
  padding: 5px;
  padding-bottom: 0;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.textInputError {
  padding: 0px 20px;
}