@use 'lib' as *;
input[type="text"],
input[type="password"] {
    font-size: 12px;
    border: 0px;
    border-radius: 39px;
    padding: 6px 20px;
    min-width: 80px;
    margin: 0 auto;
    background-color: #C4C4C433;
    @include customize(color) {
        color: getValue(main-color); 
      }
    font-weight: 300;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    @include customize(color) {
        color: getValue(main-color); 
      }
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible {
    @include customize(color) {
        outline: 1px groove getValue(main-color); 
      }
}

input[type="submit"],
input[type="button"] {
    @include customize(color) {
        background-color: getValue(main-color); 
      }
    border-radius: 20px;
    color: #fff;
    border: 0px;
    font-weight: 200;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    @include customize(color) {
        background-color: getValue(main-lighter-color); 
      }
}

input[type="submit"]:active,
input[type="button"]:active {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
}

input.Inactive {
    background-color: gray;
}

input.Inactive:hover {
    background-color: gray;
}

.inputBox {
    display: block;
    overflow: auto;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
    width: fit-content;
}

.inputError {
    @include customize(color) {
        color: getValue(error-color); 
      }
    font-size: 13px;
    font-weight: 300;
    padding-left: 20px;
    margin: 0;
    height: 15px
}