@use 'lib' as *;

.inputBox input[type="text"],
.inputBox input[type="password"] {
  font-size: 14px;
  border: 0px;
  border-radius: 39px;
  padding: 6px 20px;
  width: 100%;
  background-color: #C4C4C433;


  @include customize() {
    color: getValue(main-color);
  }

  font-weight: 300;
}

.inputBox input[type="text"]::placeholder,
.inputBox input[type="password"]::placeholder {
  @include customize() {
    color: getValue(main-color);
  }
}

.inputBox input[type="text"]:focus-visible,
.inputBox input[type="password"]:focus-visible {
  @include customize() {
    outline: 1px groove getValue(main-color);
  }
}

.inputBox {
  padding: 10px;
  align-content: center;
  justify-content: center;
  display: flex;
}