.leftContainer {
    display: flex;
    position: relative;
    font-size: 22px;
    font-weight: 300;
    justify-content: right;
    text-align: right;
    margin: 170px 70px 0px 70px;
}

.leftContainer .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}

.leftContainer .title {
    font-size: 52px;
}

.overrideLinkButton {
    margin: 0px !important;
    width: fit-content;
}

.homePage {
    // overflow: hidden;
}

.homePage #peopleImage {
    position: absolute;
    bottom: -45vh;
    left: 0vw;
    z-index: -2;
    width: 60vw;
    max-width: 680px;
}

.homePage #circle-2 {
    z-index: -1;
    border: 1px solid #98C1D9;
    box-shadow: 8px 6px 43px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    background: #3d5a804d;
}