@use 'lib' as *;

.userDataSection {
    padding: 10px;
    @include customize() {
        border: 1px solid getValue(light-greyish-color); 
      }
    border-radius: 10px;
    margin-bottom: 20px;
}

.userDataSection hr {
    @include customize() {
        border: 1px solid getValue(light-greyish-color); 
      }
    width: 90%;
    margin-left: 0;
}
