@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
--main-color: #3D5A80;
--second-main-color:  #EE6C4D;
--main-lighter-color: #98C1D9;
--dark-greyish-color:  #293241;
--light-greyish-color: #AFB6C1;
color-scheme: light;
}

* {
  font-family: 'Poppins', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  color: var(--main-color);
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root{
  --main-color: #3D5A80;
  --second-main-color:  #EE6C4D;
  --main-lighter-color: #98C1D9;
  --dark-greyish-color:  #293241;
  --light-greyish-color: #AFB6C1;
  }
}

@media (prefers-color-scheme: dark) {
  :root{
    --main-color: #3D5A80;
    --second-main-color:  #EE6C4D;
    --main-lighter-color: #98C1D9;
    --dark-greyish-color:  #293241;
    --light-greyish-color: #AFB6C1;
    }
}
