.mySkeleton {
    height: 100%;
    width: 100%;
}

.mySkeleton .rows {
    row-gap: 5px;
    column-gap: 5px;
}

.rows span {
    line-height: normal;
    height: 1fr;
    min-width: 1.5rem;
    width: 100%;
}

.react-loading-skeleton {
    line-height: normal;
}

.rows .react-loading-skeleton {
    line-height: 1;
}

.mySkeleton br {
    content: "";
    display: block;
    font-size: 100%;
    height: 0.5em;
    outline: red;
}