@use 'lib'as *;

.calendarCardBase {
  border-radius: 5px;
  border-style: solid;
  box-sizing: border-box;
  border-width: 1px;
  aspect-ratio: 1 /1;
  width: 90%;
  box-shadow: 1px 1px 8px #00000064;
  margin: 4px;
}

.cardNormal {
  @include customize() {
    border-color: getValue(main-lighter-color);
  }

  background-color: none;
}

.cardFilled {
  @include customize() {
    background-color: rgba(getValue(main-lighter-color), 0.15);
  }

  @include customize() {
    border-color: getValue(main-color);
  }
}

.cardSelected {
  @include customize() {
    background-color: rgba(getValue(second-main-color), 0.08);
  }

  @include customize() {
    border-color: rgba(getValue(second-main-color), 0.8);
  }

  border-width: 2px;
}

.cardSelected p,
.cardSelected h1 {
  @include customize() {
    color: getValue(second-main-color);
  }
}

.cardNotInMonth {

  @include customize() {
    border-color: rgba(#B9B9B9, 0.8);
  }

  background-color: none;
  border-width: 2px;
}

.cardNotInMonth p,
.cardNotInMonth h1 {
  font-weight: 200;
  color: #ABABAB;
}

.textStack {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.dayNumber {
  margin: 0px;
}

.text {
  margin: 0px;
  padding: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tasksNumer {
  color: #B9B9B9;
}