.textElement {
    margin: 0;
    padding: 0;
    color: #6C6C6C;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hoursElement {
    margin: 0;
    padding: 0;
    color: #B9B9B9;
}