@use 'lib' as *;
.calendarCardBase {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    width: 150px;
    height: 150px;
    box-shadow: 1px 1px 8px #00000064;
}

.cardNormal {
    @include customize() {
        border-color: getValue(main-lighter-color); 
      }
    background-color: white;
}

.cardFilled {
    @include customize() {
        background-color: getValue(main-lighter-color); 
      }
    @include customize() {
        border-color: getValue(main-color); 
      }
}
.cardSelected {
    @include customize() {
        background-color: getValue(second-main-color); 
      }
    @include customize() {
        border-color: getValue(second-main-color); 
      }
    border-width: 2px;
}
