.eventStackList {
    height: 30vh;
    border-width: 1px;
    border-color: #ABABAB;
    border-style: solid;
    border-radius: 5px;
    padding: 15px;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.yourDayHeader {
    color: #3E3E3E;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}